accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
anytree==2.13.0
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.2
bert-score==0.3.13
bioc==2.1
blis==1.3.0
boto3==1.40.53
botocore==1.40.53
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpathlib==0.23.0
colorama==0.4.6
confection==0.1.5
conllu==4.5.3
contourpy==1.3.2
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.11
datasets==4.2.0
de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl#sha256=fec69fec52b1780f2d269d5af7582a5e28028738bd3190532459aeb473bfa3e7
Deprecated==1.2.18
dill==0.4.0
dnspython==2.8.0
docopt==0.6.2
editdistance==0.8.1
emoji==2.15.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256=272a31e9d8530d1e075351d30a462d7e80e31da23574f1b274e200f3fff35bf5
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
exceptiongroup==1.3.0
filelock==3.20.0
flair==0.15.1
fonttools==4.60.1
fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl#sha256=7d6ad14cd5078e53147bfbf70fb9d433c6a3865b695fda2657140bbc59a27e29
frozenlist==1.8.0
fsspec==2025.9.0
ftfy==6.3.1
gdown==5.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.11
intervaltree==3.1.0
it_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.8.0/it_core_news_sm-3.8.0-py3-none-any.whl#sha256=3f617bf9a8ae0418953cf1fbf014e10272684c4229e882a7fd748b637d0100bf
jieba==0.42.1
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonlines==4.0.0
kiwisolver==1.4.9
langcodes==3.5.0
langdetect==1.0.9
langid==1.1.6
language_data==1.3.0
language_tool_python==2.9.4
lemminflect==0.2.3
lru-dict==1.3.0
lxml==6.0.2
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
more-itertools==10.8.0
mpld3==0.5.11
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.16
murmurhash==1.0.13
networkx==3.4.2
nl_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.0/nl_core_news_sm-3.8.0-py3-none-any.whl#sha256=a76978477821f213ca76a46c686df1b1d41462905d4868bc53eac086adca8b7e
nlpaug==1.1.11
nltk==3.9.1
num2words==0.5.14
numpy==2.1.1
OpenHowNet==2.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
pillow==11.3.0
pinyin==0.4.0
pptree==3.1
preshed==3.0.10
prettytable==3.16.0
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.0
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
pyarrow==21.0.0
pycparser==2.23
pydantic==2.12.2
pydantic_core==2.41.4
Pygments==2.19.2
pymongo==4.15.3
pyparsing==3.2.5
pyphen==0.17.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch_revgrad==0.2.0
pytz==2025.2
PyYAML==6.0.3
regex==2025.9.18
requests==2.32.5
rich==14.2.0
s3transfer==0.14.0
sacremoses==0.1.1
safetensors==0.6.2
scikit-learn==1.5.2
scipy==1.14.1
segtok==1.5.11
selenium==4.36.0
sentence-transformers==5.1.1
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
smart_open==7.3.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
spacy==3.8.2
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
srsly==2.5.1
sympy==1.14.0
tabulate==0.9.0
terminaltables==3.1.10
textattack==0.3.10
textblob==0.19.0
textstat==0.7.10
textstats==0.1.2
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.22.1
toml==0.10.2
torch==2.9.0
tqdm==4.67.1
transformer-smaller-training-vocab==0.4.2
transformers==4.57.1
trio==0.31.0
trio-websocket==0.12.2
typer==0.19.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.5.0
wasabi==1.1.3
wcwidth==0.2.14
weasel==0.4.1
websocket-client==1.9.0
Wikipedia-API==0.8.1
word2number==1.1
wrapt==1.17.3
wsproto==1.2.0
xxhash==3.6.0
yarl==1.22.0
